@import '@fontsource-variable/inter';
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import 'nprogress/nprogress.css';

@plugin '@tailwindcss/typography';

@import './theme.css';
@import './animations.css';
@import './components.css';
@import './utilities.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring/50;
  }

  html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }

  .prose :is(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: 6rem;
  }

  body {
    @apply bg-background text-foreground;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
